*{
    margin:0;
    padding: 0;
}
body{
    background-color: #548687;
    text-align: center;
}
.container{
    height: 70vh;
     display: flex;
   
    justify-content: center;
    align-items: center;
}
.Game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
   height: 18vmin;
   width: 18vmin; 
   border-radius: 1rem;
   border: none;
   box-shadow: 0 0 1rem rgb(0, 0, 0, 0.3);
   font-size: 8vmin;
   color: #b0413e;
   background-color: #ffffc7;
}
#reset-btn {
    padding: 12px 25px;
    font-size: 18px;
    border: none;
    border-radius: 10px;
    background: #111;
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
}

#reset-btn:hover {
    background: #333;
}

#msg{
    color: #ffffc7;
    font-size: 5vmin;

}
.msg-container{
    height: 10vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 0.5rem;
}
.hide{
    display: none;
}
.msg-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.gif {
  width: 120;
    animation: pop 1s ease;
}
@keyframes pop{
    0%{ transform: scale(0); }
    100% {transform: scale(1);}
}